extends layout

//- This will replace the content in block content in layout.pug
block content
    p hello
    











//- .wrapper
//-     - const changeName = name.toUpperCase()
//-     p.hello Hello! My name is #{name.toUpperCase()}
//-     span#yo Yo!
//-     img.dog(src="dog.jpg")

//- h2 
//-     | Hello
//-     em How are you