extends layout

block content  
    .inner
        h2= title
        .map
            .autocomplete
                input.autocomplete__input(type="text" placeholder="Search for anything" name="geolocate")
            
            //- a div with an ID of map
            #map
                p Loading Map...
    